/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  --mk-font-family: 'Avenir', 'Montserrat', 'Corbel', 'URW Gothic',
    'source-sans-pro', 'sans-serif';
  --mk-font-weight: normal;
  --mk-font-size: 1rem;
}

body {
  font-family: var(--mk-font-family);
  font-weight: var(--mk-font-weight);
  font-size: var(--mk-font-size);
  color: theme('colors.gray.1000');
}

*:focus-visible {
  outline-color: theme('colors.brand.700');
}
