@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* TODO: do not use `@import` until @tailwindcss/language-server is fixed
    bug: https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1103
    pr: https://github.com/tailwindlabs/tailwindcss-intellisense/pull/1106
    when ready test new version using `bun i -d @tailwindcss/language-server@insiders`
*/

/*@import "$lib/styles/theme.css" layer(theme);*/
@theme {
	--default-font-family: "Nunito", "Noto Sans", "sans-serif";

	--color-accent-50: hsl(153, 37.50%, 96.72%);
	--color-accent-100: hsl(153, 37.50%, 92.78%);
	--color-accent-200: hsl(153, 37.50%, 85.53%);
	--color-accent-300: hsl(153, 37.50%, 75.32%);
	--color-accent-400: hsl(153, 37.50%, 59.07%);
	--color-accent-500: hsl(153, 37.50%, 46.00%);
	--color-accent-600: hsl(153, 37.50%, 37.23%);
	--color-accent-700: hsl(153, 37.50%, 30.00%);
	--color-accent-800: hsl(153, 37.50%, 23.81%);
	--color-accent-900: hsl(153, 37.50%, 19.53%);
	--color-accent-950: hsl(153, 37.50%, 10.98%);

	--color-brand-50: hsl(182, 48.00%, 96.15%);
	--color-brand-100: hsl(182, 48.00%, 92.00%);
	--color-brand-200: hsl(182, 48.00%, 84.23%);
	--color-brand-300: hsl(182, 48.00%, 72.64%);
	--color-brand-400: hsl(182, 48.00%, 54.17%);
	--color-brand-500: hsl(182, 48.00%, 43.19%);
	--color-brand-600: hsl(182, 48.00%, 35.07%);
	--color-brand-700: hsl(182, 48.00%, 28.00%);
	--color-brand-800: hsl(182, 48.00%, 22.34%);
	--color-brand-900: hsl(182, 48.00%, 18.41%);
	--color-brand-950: hsl(182, 48.00%, 10.42%);

	--text-broad: var(--color-brand-950);
	--text-soft: var(--color-brand-900);
	--text-muted: var(--color-brand-800);
}

/*@import "$lib/styles/base.css" layer(base);*/
@layer base {
	/* latin-ext */
	@font-face {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 200 1000;
		font-display: swap;
		src: url(/fonts/nunito-latin-ext.woff2) format("woff2");
		unicode-range:
			U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}

	/* latin */
	@font-face {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 200 1000;
		font-display: swap;
		src: url(/fonts/nunito-latin.woff2) format("woff2");
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* greek-ext */
	@font-face {
		font-family: "Noto Sans";
		font-style: italic;
		font-weight: 100 900;
		font-stretch: 100%;
		font-display: swap;
		src: url(/fonts/noto-greek-ext.woff2) format("woff2");
		unicode-range: U+1F00-1FFF;
	}

	/* greek */
	@font-face {
		font-family: "Noto Sans";
		font-style: italic;
		font-weight: 100 900;
		font-stretch: 100%;
		font-display: swap;
		src: url(/fonts/noto-greek.woff2) format("woff2");
		unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C,
			U+038E-03A1, U+03A3-03FF;
	}
}

/*@import "$lib/styles/utilities.css";*/
@utility section {
	@apply px-4 py-2;
}
