/* === TAILWIND === */
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

/* === CUSTOM === */
@import "$lib/styles/theme.css" layer(theme);
@import "$lib/styles/preboard.css" layer(base);
@import "$lib/styles/base.css" layer(base);
@import "$lib/styles/utilities.css";

/* === PLUGINS === */
@plugin "@tailwindcss/typography";

/* === SOURCES === */
@source "../src/";

/* === LAYERS === */
@layer theme, base, components, utilities;
