name: CI

env:
  NODE_ENV: production

on:
  push:
    branches:
      - main

permissions:
  actions: read
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: site
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: install
        run: bun install --no-cache

      - name: check
        run: bun run check

      - name: lint
        run: bun run lint
        continue-on-error: true

      - name: format
        run: bun run format
        continue-on-error: true

      - name: build
        run: bun run build

      - name: setup pages
        uses: actions/configure-pages@v5
        with:
          static_site_generator: sveltekit

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: site/build
          compression-level: 1

      - name: upload artifact
        if: false
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: github pages
        id: deployment
        uses: actions/deploy-pages@v4
