name: CI

env:
  NODE_ENV: production

on:
  push:
    branches:
      - main

permissions:
  actions: read
  contents: write
  pages: write
  id-token: write

jobs:
  main:
    runs-on: ubuntu-24.04
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: setup
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.42

      - name: install
        run: bun install

      - name: check
        run: bun run check

      - name: content
        run: bun run util:content
        env:
          CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}

      - name: build
        run: bun run build

      - name: setup pages
        uses: actions/configure-pages@v5
        with:
          static_site_generator: sveltekit

      - name: upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

      - name: github pages
        id: deployment
        uses: actions/deploy-pages@v4

