name: CI

env:
    BUN_VERSION: 1.1.43
    BUILD_DIR_GITHUB: ./build/github
    BUILD_DIR_NETLIFY: ./build/netlify

permissions:
    actions: read
    contents: write

on:
    push:
        branches: [main]
        paths-ignore: &paths-to-ignore
            - "docs/**"
            - "*.md"
            - ".editorconfig"
            - ".env.example"
            - ".gitignore"
            - ".npmrc"
            - "biome.jsonc"
            - "jsconfig.json"
            - "lefthook.yml"
            - "favicons.json"
    pull_request:
        branches: [main]
        paths-ignore: *paths-to-ignore
    repository_dispatch:
        types: [contentful-content-changed]
    workflow_dispatch:
        inputs:
            deploy_github:
                description: "Deploy to GitHub Pages"
                required: false
                default: true
                type: boolean
            deploy_netlify:
                description: "Deploy to Netlify"
                required: false
                default: true
                type: boolean

concurrency:
    # Group by PR number for pull requests, branch name for pushes, or event name for dispatches
    group: ${{ github.event.pull_request.number || github.ref_name || github.event_name }}
    cancel-in-progress: true

jobs:
    main:
        name: Build and Test
        runs-on: ubuntu-24.04
        env:
            IS_CONTENT_UPDATE: ${{ github.event_name == 'repository_dispatch' }}
            IS_PR: ${{ github.event_name == 'pull_request' }}
            RUN_STAGING: ${{
                (
                    github.event_name != 'workflow_dispatch' && 
                    github.event_name != 'repository_dispatch'
                ) ||
                (github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_github =='true')
                }}
            RUN_PRODUCTION: ${{
                (github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch') ||
                (github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_netlify=='true')
                }}
        outputs:
            run_staging: ${{ env.RUN_STAGING }}
            run_production: ${{ env.RUN_PRODUCTION }}
        steps:
            - name: setup
              uses: ./.github/templates/setup
              with:
                  bun_version: "${{ env.BUN_VERSION }}"

            - name: check
              if: ${{ env.IS_CONTENT_UPDATE == 'false' }}
              run: bun run check:ci

            - name: content
              if: ${{ env.IS_PR == 'false' }}
              run: bun run util:content
              env:
                  CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
                  CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}

            - name: build
              uses: ./.github/templates/build
              with:
                  run_staging: ${{ env.RUN_STAGING == 'true' }}
                  run_production: ${{ env.RUN_PRODUCTION == 'true' }}
                  build_dir_github: ${{ env.BUILD_DIR_GITHUB }}
                  build_dir_netlify: ${{ env.BUILD_DIR_NETLIFY }}

            - name: test
              if: ${{ env.RUN_PRODUCTION == 'true' }}
              uses: ./.github/templates/test

    staging:
        name: Deploy to GitHub Pages
        runs-on: ubuntu-24.04
        needs: main
        if: ${{ needs.main.outputs.run_staging == 'true' }}
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        permissions:
            pages: write
            id-token: write
        steps:
            - name: deploy
              id: deployment
              uses: actions/deploy-pages@v4

    production:
        name: Deploy to Netlify
        runs-on: ubuntu-24.04
        needs: main
        if: ${{ needs.main.outputs.run_production == 'true' }}
        steps:
            - name: setup
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: ${{ env.BUN_VERSION }}

            - name: download artifact
              uses: actions/download-artifact@v4
              with:
                  name: netlify
                  path: ./build

            - name: deploy
              run: >
                  bunx netlify-cli deploy --prod-if-unlocked --dir ./build
                  --message "${{ env.DEPLOY_MESSAGE }}"
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
                  DEPLOY_MESSAGE: ${{ github.event_name == 'repository_dispatch' && 'content update' || github.event.head_commit.message }}
