name: CI

env:
  NODE_ENV: production

on:
  push:
    branches:
      - main

permissions:
  actions: read
  contents: write
  pages: write
  id-token: write

jobs:
  main:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: site
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: setup
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.42

      - name: install
        run: bun install

      - name: check
        run: bun run check:all

      - name: build
        run: bun run build

      - name: setup pages
        uses: actions/configure-pages@v5
        with:
          static_site_generator: sveltekit

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: site/build
          compression-level: 9

      - name: github pages
        id: deployment
        uses: actions/deploy-pages@v4

